---
// import { rockets } from "./index";
import { rockets } from "~src/pages/index";
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{rockets}</title>
<h1>{rockets}</h1>
